body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
  font-family: Helvetica, Arial, sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: overlay;
}
header{
    background-color: black;
    color:white"
}
body{
    display: flex;
    flex-direction:column;
    flex:1;
    background-color:#B3A87C;
}

#container{
    background-color: #9c2722;
    border-radius: 20px;
    height: 800px;
    width: 800px;
    padding-bottom: 10px;    
    margin:auto;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.controls{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    margin:auto;
}

#controls-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: .5;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }
    
.left-controller, .right-controller{
    background-color: black;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    text-align:center;
    color:white;
    border: 1px solid black;
    cursor:pointer;
    }

#grid{
    height: 570px;
    width: 570px;
    border-radius: 25px;
    display: flex;
    align-self: center;
}

#inner{
    height: 570px;
    width: 570px;
    display: flex;
    align-self: center;
}


.shake{
    width: 70px;
    display:flex;
    align-self: flex-end;
    background-color:  #605f41;
    color:white;
    border-radius:3px;
    border: 3px solid #605f41;
    cursor:pointer;
    margin-right:30px;
}

.size{
    display: flex;
    height: 1rem;
    width: 50px;
    align-self: flex-end;
}
label{
    display: flex;
    align-self: flex-end;
}


p{
    align-self: center;
    margin-bottom: 20px;
    color:#E4E9CD;
    font-size: medium;
    font-weight: bolder;
}

#inner{
    background-color: white;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.new-size{
    height:1rem;
    width: 3rem;
}
.sizer{
    display: flex;
    align-items:end;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    color: white;
    margin-right: 3px;
}


.right-controller > p {
    display:flex;
    align-self:center;
    margin-top: 0px;
    margin-left: 1rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-align:center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -2px 2px #ef3550,
                 -4px 4px #7e57c2,
                 -5px 5px #2196f3,
                 -7px 7px #26c6da,
                 -10px 10px #43a047,
                 -12px 12px #eeff41,
                 -15px 15px #f9a825,
                 -17px 17px #ff5722;
}



/* for pixel width and height, these paramiters need to be dynimic, so
flex basis or flex grow needs to be added in styles 


why are the controls on top of the grid, but the grid is on top of the container?*/