body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: overlay;
}

body{
    display: flex;
    flex-direction:column;
    flex:1;
}

#container{
    background-color: blanchedalmond;
    border-radius: 20px;
    height: 700px;
    width: 800px;
    padding-bottom: 10px;    
    margin:auto;
}

#container{
    display: flex;
flex-direction: column;
justify-content: flex-end;
}

.controls{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    margin:auto;
}

#controls-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    
.left-controller, .right-controller{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    }
#grid{
    background-color: white;
    align-self: center;
    height: 570px;
    width: 690px;
    margin: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pixel{
 width:5px;
 height:5px;
 background-color: black;

}
/* for pixel width and height, these paramiters need to be dynimic, so
flex basis or flex grow needs to be added in styles */